body {
  background-color: rgb(0, 0, 0);
  color: rgb(128, 97, 20);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
}

.App {
  text-align: center;
}

.App li {
  list-style: none;
}

.App a {
  color: rgb(255, 255, 255);
}

.App button {
  background-color: grey;
}

h2{
  display: inline-block;
}

h3{
  font-size: 15px;
}
